{{ template "header" . }}
<main>
    <h2>Hello {{ .firstName }},</h2>
    <p>
        We received a request to change your password. To change your password, click on the button below:
    </p>
    <p>
        {{ template "button" dict "url" .passwordChangeURL "text" "Change Password" }}
    </p>
    <p>
        Or, copy and paste the following URL into your browser:
    </p>
    <p>
        <a href="{{ .passwordChangeURL }}">{{ .passwordChangeURL }}</a>
    </p>
    <p>
        If you did not make this request, please ignore this email.
    </p>
    <p>
        Please note that this request expires in 5 minutes.
    </p>
</main>